.header {
    height: 240px;
    width: 100%;
    padding: 2rem 2rem 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }

.header__logo {
    margin-left: 10%;
}

.header__button {
  margin-left: 4em;
}
.header .button {
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
    -moz-box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
    box-shadow: 0px 0px 20px 2px rgba(1,125,251,0.25);
}
  
.header .menu {
  margin-left: auto;
}

.menu-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 40px;
}


.header .link:hover {
  color: #017DFB;
  transition: 1s;
}

.menu-links li {
  margin-right: 2%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
}

.menu-links__link {
  color: #BEC5D3;
  transition: 1s;
  /* width: 100%; */
  position: relative;
  animation: bounceInDown;
  animation-duration: 1s;
  text-align: center;
  overflow: hidden;
}


.menu-links li:hover .link::after {
  transform: translateX(100%);
  transition: all .4s ease-out;
  background-color: #fff;
}




.header .link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: -1px;
  width: 100%;
  transform: translateX(-100%);
  transition: .4s;
}


.link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #CCC;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #CCC;
}
