.header {
  
    width: 100%;
  
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
  
  }



/* Logo */

.header__logo {
    margin: 2rem 0 auto 10%;
}


/* Button */

.header__button {
    transition: .7s;
    margin-left: 4em;
    margin-right: 1rem;
    margin-top: auto;
    transform: translateY(30%);
}

/* Menu */

.header__menu {
  margin-left: auto;
  height: 100%;
  margin-top: auto;
}

.header__links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 100%;
}


.header__menu .link:hover {
  color: #017DFB;
  transition: 1s;
}

.header__links li {
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
}

.header__menu .link {
  color: #BEC5D3;
  transition: 1s;
  /* width: 100%; */
  position: relative;
  animation: bounceInDown;
  animation-duration: 1s;
  text-align: center;
  overflow: hidden;
}

/* animation of links */

.header__links li:hover  .link::after {
  transform: translateX(103%);
  transition: all .4s ease-out;
  /* background-color: #fff; */
}


.header__menu .link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--blue);
  bottom: 0;
  left: -1px;
  width: 100%;
  transform: translateX(-100%);
  transition: .4s;
}


.link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #CCC;
}



/* toggle menu */

.toggle-menu {
  position: fixed;
  width: 100%;
  height: 0;
  display: flex;
  overflow: hidden;
  background-color: var(--blue);
  justify-content: center;
  align-items: center;
  transition: all .7s;
  z-index: 2;
}

.toggle-menu__links {
  display: flex;
  flex-direction: column;
}
.toggle-menu__link {
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}
.toggle-menu__link .link {
  transition: all .5s;
  font-size: 2rem;
  
}
.toggle-menu__link .link:hover{
  color: #ccc;
}


.toggle-menu__link .link{

  color: #fff;
}
/* //////////////////////////////////////////// */

/* hamburger */

.ham {
  position: absolute;
  top: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 10;
  display: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate.active ~ .toggle-menu {
  height: 100vh;
}

.hamRotate.active  .line {
  stroke: #ccc;
}

.line {
  fill:none;
  /* transition: stroke-dasharray 400ms, stroke-dashoffset 400ms; */
  stroke:#017DFB;
  stroke-width:5.5;
  stroke-linecap:round;
  transition: .4s;
}

.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}


/* /////////////////////////// */



@media screen and (max-width: 1350px) {

  
  .ham {
    display: block;
  }
  .header__button {
    position: absolute;
    right: 2rem;
    top: 1rem;
    
  }

  .header__logo {
    

    margin: 2rem auto 0;
    
  }

  .header__menu {
    display: none;
  }

}

@media  screen and (max-width: 950px) { 
  .header__button {
    display: none;
  }
  .header__logo {
   margin-right: 2rem;
   margin-left: auto;
   margin-top: 2rem;
  }
}


@media  screen and (max-width: 600px) { 
  
  .header__logo {
    margin-right: 2rem;
    margin-left: auto;
    margin-top: 2rem;

  }
}
  