.header {
    height: 240px;
    width: 100%;
    padding: 2rem 2rem 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }



/* Logo */

.header__logo {
    margin-left: 10%;
}

/* Button */

.header__button {
    transition: .7s;
    margin-left: 4em;
}

/* Menu */

.header__menu {
  margin-left: auto;
}

.header__links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 40px;
}


.header .link:hover {
  color: #017DFB;
  transition: 1s;
}

.header__links li {
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
}

.header .link {
  color: #BEC5D3;
  transition: 1s;
  /* width: 100%; */
  position: relative;
  animation: bounceInDown;
  animation-duration: 1s;
  text-align: center;
  overflow: hidden;
}

/* animation of links */

.header__links li:hover .link::after {
  transform: translateX(100%);
  transition: all .4s ease-out;
  background-color: #fff;
}


.header .link::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: -1px;
  width: 100%;
  transform: translateX(-100%);
  transition: .4s;
}


.link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #CCC;
}


@media screen and (min-width: 900px) {
  .header {
    
  }
}