.popular-places {
}

.popular-places__content {
    width: 100%;
    display: grid;
    grid-template-areas:'Thessaloniki Crete Crete Halkidiki'
                        'Athens Crete Crete Mykonos'
                        'Meteora Meteora Myrtos-Beach Myrtos-Beach';
    grid-gap: 30px;
    
}

#Thessaloniki { grid-area: Thessaloniki; }
#Crete { grid-area: Crete; }
#Halkidiki { grid-area: Halkidiki; }
#Athens { grid-area: Athens; }
#Mykonos { grid-area: Mykonos; }
#Meteora { grid-area: Meteora; }
#Myrtos-Beach { grid-area: Myrtos-Beach; }


.places-card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}







.places-card__background img{ 
    width: 100%;
    height: 100%;
}

.places-card__background { 
    
    display: block;
    height: 100%;
    width: 100%;
}
.places-card .wrapper {
    position: absolute;
    bottom: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.places-card:hover .wrapper{
    opacity: 1;
}
.places-card:hover .places-card__title{
    opacity: 0;
    transition: 1s;
}

.places-card__wrapper {
    transition: 1s;
    background-color: rgb(1, 125, 251, 0.5);  
}

.places-card__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2.5rem;
    color: #fff;
    transition: 1s;
    
}



.wrapper__title {
    position: absolute;
    top: 0%;
    transform: translateY(-100%);
    transition: .7s;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 1rem;
}

.wrapper__buttons {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: .7s;
}

.places-card:hover .wrapper__title {
    top: 50%;
    transition: all .7s ease-in;
    transform: translateY(-120%);
    font-size: 2.5rem;
    letter-spacing: normal;
}

.places-card:hover .wrapper__buttons {
    bottom: 50%;
    transform: translateY(100%);
    transition: all .7s ease-in;
}

.wrapper__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}


.places-card .button {
    background: none;
    border: 2px solid #5abffd;
    width: 25%;
    /* height: 80%; */
    color: #FFF;
    margin-right: 1rem;
}



@media (max-width: 600px) {
    .places-card__title {
      
    }

    .wrapper__title {
        
    }

  }