.popular-places__content {
  width: 100%;
  display: grid;
  grid-template-areas:
    'Thessaloniki Crete Crete Halkidiki'
    'Athens Crete Crete Mykonos'
    'Meteora Meteora Myrtos-Beach Myrtos-Beach';
  grid-gap: 30px;
}

#Thessaloniki {
  grid-area: Thessaloniki;
}
#Crete {
  grid-area: Crete;
}
#Halkidiki {
  grid-area: Halkidiki;
}
#Athens {
  grid-area: Athens;
}
#Mykonos {
  grid-area: Mykonos;
}
#Meteora {
  grid-area: Meteora;
}
#Myrtos-Beach {
  grid-area: Myrtos-Beach;
}

@media (max-width: 1400px) {
  .popular-places__content {
    grid-template-areas:
      'Thessaloniki Halkidiki'
      'Athens Mykonos'
      'Crete Crete'
      'Meteora Myrtos-Beach';
  }
}

@media (max-width: 1400px) {
  .popular-places__content {
    grid-template-areas:
      'Thessaloniki Halkidiki'
      'Athens Mykonos'
      'Crete Crete'
      'Meteora Myrtos-Beach';
  }
}

@media (max-width: 750px) {
  .popular-places__content {
    grid-template-areas:
      'Thessaloniki'
      'Halkidiki'
      'Athens'
      'Mykonos'
      'Crete'
      'Meteora'
      'Myrtos-Beach';
  }
}
