.search {
  height: 15vh;
  background-color: #017dfb;
  margin-bottom: 0;
  position: relative;
  


}

.search__form {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  width: 100%;
}



.form__field {
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* img */

.form__img {
  transition: all 1s ease;
  height: 21px;
  width: 21px;
}

/* img end */

/* label start*/

.form__label {
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  height: 21px;
}

.form__label::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #1B8AFB;
  width: 100%;
  align-self: center;
  transform: scaleX(0);
  transition: all .4s;
}

/* label end */


/* input start */

.form__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #017dfb;
  border: 0;
  width: 100%;
  padding-left: 25px;
  color: #fff;
  height: 21px;
}

/* input end */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

/* focus */

.form__input:focus{
  outline: none;
  
}

.form__input:focus + .form__label::after {
  transform: scaleX(1);
}


.form__input:focus + .form__label .form__img{
  transform: translateY(-101%);
  opacity: 0;
}



.form__submit:focus {
  outline: none;
	-webkit-box-shadow: 0 0 0 5px rgba(1, 38, 251, 0.25);
	-moz-box-shadow:0 0 0 5px rgba(1, 38, 251, 0.25);
	box-shadow: 0 0 0 5px rgba(1, 38, 251, 0.25);
}
.form__submit:focus .form__img{
  
}


/* search button */

.form__submit {
  width: 48px;
  height: 48px;
  box-shadow: 0 0 45px rgba(205, 205, 205, 0.85);
  background-color: #ffffff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: auto;
  /* position: relative; */
}

.lupa {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}



/* button-to-toggle-form */

  .button-to-toggle-form {
    border: 1px solid rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: transparent;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0;
    border-radius: 0;
    width: 90%;
    color: #fff;
    transition: 400ms;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }

  .button-to-toggle-form:hover {
    border: 1px solid rgba(255, 255, 255, .5);
    outline-offset: 15px;
    outline-color:  rgba(255, 255, 255, 0);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
  }
  

  /* .button-to-toggle-form:focus ~ .search__toggle-form {
    display: block;

  } */

/* ///////////////////////////// */


/* toggle form */

.search__toggle-form {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}


@media screen and (max-width: 1170px) {
  .button-to-toggle-form {
    display: block;
  }
  .search__form {
    display: none ;
  }
  
}

/* @media screen and (max-width: 1000px) { 
  .button-to-toggle-form {
    display: block;
  }
  .search__form {
    display: none ;
  }
  
} */