.section__title {
  padding: 55px 0;
  color: #cfd4df;
  display: flex;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}

.section_hotels {
  background-color: #f9f9f9;
  margin: 2rem 0;
}

.section__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1350px) {
  .section {
    margin: 0;
  }
  .section__title {
    font-size: 16px;
  }
}
