.submit {
  width: 48px;
  min-height: 48px;
  box-shadow: 0 0 45px rgba(205, 205, 205, 0.85);
  background-color: #ffffff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  position: relative;
  transition: box-shadow 300ms ease-out;
}

.submit:hover,
.submit:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px rgba(1, 38, 251, 0.25);
  -moz-box-shadow: 0 0 0 5px rgba(1, 38, 251, 0.25);
  box-shadow: 0 0 0 5px rgba(1, 38, 251, 0.25);
}

.submit__lupa {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.submit_animation_up {
  animation: animation_up 1s;
}

@keyframes animation_up {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
