/* Global */

/* Variables */

:root {
    --basic-black: #000000;
    --basic-deep-dark: #1F2123;
    --basic-dark: #2B2C2F;
    --basic-semi-light: #696969;
    --basic-neutral: #b1b3b6;
    --basic-light: #e9eaeb;
    --basic-white: #ffffff;

    --special-extra-dark: #386d9b;
    --special-dark: #3b84bb;
    --special-dark-10a: rgb(59 132 187 / 0.1);
    --special-semi-dark: #42a0da;
    --special-neutral: #E3BF8E;
    --special-semi-light: #81c36d;
    --special-light: #afe63a;
    --special-extra-light: #c6f523;

    --grey: #858583;
    --gold: #BEA67C;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.opacity_off {
  opacity: 0;
}

/* link global */

a {
  text-decoration: none;
}

/* fonts */

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.woff');
}

@font-face {
  font-family: 'ProximaNova-bold';
  src: url('../fonts/ProximaNova-Bold.woff');
}

/*/////////////////////  content \\\\\\\\\\\\\\\\\\ */

.wooder-block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  position: relative;
}

@media (max-width: 1100px) {
  .wooder-block-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*/////////////////////  photo \\\\\\\\\\\\\\\\\\ */

.wooder-block-content__photo {
  width: 50%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px -2px #000;
          box-shadow: 0px 0px 15px -2px #000;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

@media (max-width: 1100px) {
  .wooder-block-content__photo {
    width: 400px;
  }
}

@media (max-width: 570px) {
  .wooder-block-content__photo {
    width: 100%;
  }
}

/*/////////////////////  description \\\\\\\\\\\\\\\\\\ */

.wooder-block-content__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .wooder-block-content__description {
    width: 70%;
  }
}

@media (max-width: 720px) {
  .wooder-block-content__description {
    width: 100%;
  }
}

/*///////////////////// learn more \\\\\\\\\\\\\\\\\\ */

.wooder-block-content__learn-more {
  position: relative;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

.wooder-block-content__learn-more-arrow {
  fill: var(--gold);
  width: 50px;
  height: 25px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  pointer-events: none;
}

.wooder-block-content__learn-more:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: var(--gold);
}

/*//////////////////////  number\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.wooder-block-content__number {
  color: #000;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.wooder-block-content__number::after {
  content: '';
  background-color: var(--gold);
  height: 5px;
  width: 50px;
}

.wooder-block-content__dot {
  color: var(--gold);
  font-size: 2rem;
}

@media (max-width: 789px) {
  .wooder-block-content__number {
    display: none;
  }
}

.wooder-title {
    position: relative;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.wooder-title::before {
    content: "";
    position: absolute;
    left: -180px;
    top: 50%;
    height: 2px;
    width: 150px;
    background-color: var(--grey);
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.wooder-text {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey);
    position: relative;
}

.wooder-text::before {
    content: '';
    position: absolute;
    left: -80px;
    top: 5px;
    height: 5px;
    width: 50px;
    background-color: var(--gold);
}

.wooder-button {
  padding: 20px 0;
  width: 300px;
  background-color: transparent;
  color: #dbdbdb;
  border: 2px solid #dbdbdb;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}

.logo {
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.logo::after {
    content: '';
    height: 3px;
    width: 54.7px;
    position: absolute;
    top: 17.5px;
    left: 37.8px;
    background-color: var(--gold);
    border-radius: 1px;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  -ms-touch-action: none;
      touch-action: none;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto;
}

.highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

/* horizontal */

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;

  height: 100%;
  width: 100%;
}

.slider-slide {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #7656d6;
  border-radius: 50%;
  margin: 10px 5px;
  -webkit-transition: 300ms -webkit-transform;
  transition: 300ms -webkit-transform;
  transition: 300ms transform;
  transition: 300ms transform, 300ms -webkit-transform;
  cursor: pointer;
}

/* vertical */

/* .slider-wrapper {
   
    display: flex;
    flex-direction: column;
    transition-timing-function: linear;
    transition-property: transform;
    white-space: nowrap;
    height: 100%;
    width: 100%;
  }

  .slider-slide {
    display: flex;
    min-height: 100%;
    width: 100%;
  
   
    font-size: 36px;
    background-color: #fff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    
  }  
  
  .slider-pagination {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  .slider-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #7656d6;
    border-radius: 50%;
    margin: 5px 10px;
    transition: 300ms transform;
    cursor: pointer;
    display: block;
  }   */

/* counter */

.count-number {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 20px;
  text-align: center;
  color: var(--gold);
}

/* arrows */

/* 
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .prev,
  .next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -20px;
  }
  
  .next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -20px;
  } */

.wooder {
  position: relative;
  width: 100%;
  background-color: #000;
  font-family: 'ProximaNova-bold', sans-serif;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 1;
  font-size: 16px;
}

/* .wooder__grey-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

.main {
  position: relative;
  height: 100%;
  width: 100%;
}

.main_back-color {
  background-color: #fff;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* ///////////////header__content\\\\\\\\\\\\\\\\\\\\\\ */

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
}

@media (max-width: 700px) {
  .header__content {
    padding-left: 10px;
  }
}

/* //////////hamburger\\\\\\\\\\\\\\\ */

.header__hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header__hamburger {
  fill: var(--gold);
  width: 100px;
  height: 50px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__hamburger:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* //////////// toggle-menu \\\\\\\\\\\ */

.header__toggle-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  z-index: -1;
  display: none;
}

.header__hamburger-menu.active .header__toggle-menu {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__toggle-menu-container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__toggle-menu-link {
  font-size: 50px;
  color: var(--grey);
  letter-spacing: 0.4rem;
}

/* ///////////header__toggle-menu-cross-sign\\\\\\\\\\\\\ */

.header__toggle-menu-cross-sign {
  position: absolute;
  fill: var(--gold);
  width: 50px;
  height: 50px;
  left: 50px;
  top: 50px;
  cursor: pointer;
}

/*  /////////////hamburger-text\\\\\\\\ */

.header__hamburger-text {
  text-transform: uppercase;
  color: var(--grey);
  letter-spacing: 0.1rem;

  font-size: inherit;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__hamburger-text:hover {
  display: block;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1150px) {
  .header__hamburger-text {
    display: none;
  }
}

/* //////////header__logo\\\\\\\\\\\\\\\ */

.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 30%;
}

@media (max-width: 1150px) {
  .header__logo-container {
    margin-left: auto;
    margin-right: 50px;
  }
}

@media (max-width: 700px) {
  .header__logo-container {
    margin-right: 10px;
  }
}

/* //////////header-navigaion-menu\\\\\\\\\\\\\\\ */

.header__nav-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.header__nav-menu-link-container {
  margin-right: 50px;
  list-style: none;
}

.header__nav-menu-link {
  text-transform: uppercase;
  color: var(--grey);

  letter-spacing: 0.1rem;
  display: block;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__nav-menu-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1450px) {
  .header__nav-menu-container {
    display: none;
  }
}

/* //////////header__info\\\\\\\\\\\\\\\ */

.header__info {
  margin-left: auto;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__info-icon {
  width: 25px;
  height: 25px;
  fill: var(--grey);
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__info-link {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.header__info-link:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 1150px) {
  .header__info {
    display: none;
  }
}

/*  ////////changer-languages \\\\\\\\\\  */

.header__changer-lang-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.header__changer-lang {
  text-transform: uppercase;
  color: var(--grey);

  text-decoration: none;
}

@media (max-width: 1150px) {
  .header__changer-lang-container {
    display: none;
  }
}

.main__banner {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.banner__content {
  position: relative;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin: 0 auto;
  z-index: 9;
}

@media (max-width: 1009px) {
  .banner__content {
    padding-top: 5rem;
  }
}

@media (max-width: 600px) {
  .banner__content {
    width: 100%;
  }
}

/* //////////// title \\\\\\\\\\\\\\\ */

.banner__title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  font-size: 6rem;

  color: var(--gold);
  letter-spacing: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .banner__title {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

@media (max-width: 483px) {
  .banner__title {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-left: 10px;
  }
}

/* ///////// button \\\\\\\\\\\\ */

.banner__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.banner__button {
  position: relative;
  margin-right: 250px;
  padding: 20px 40px;
}

@media (max-width: 600px) {
  .banner__button {
    margin-right: 100px;
  }
}

@media (max-width: 483px) {
  .banner__button {
    margin: 0 auto;
  }
}

/* text */

@media (max-width: 550px) {
  .banner__text-container {
    height: 480px;
    overflow: auto;
    white-space: wrap;
  }
}

.banner__text {
  color: var(--grey);
  padding: 20px 40px;
  font-family: 'ProximaNova', sans-serif;
}

@media (max-width: 550px) {
  .banner__text {
    padding-right: 20px;
  }
}

/* ///////////////arrow button\\\\\\\\\\\\\ */

/* .banner__button-arrow-right {
    position: absolute;
    top: 47%;
    right: 40px;
} */

.banner__button:hover .banner__button-arrow-right {
  right: 10px;
}

.banner__button-arrow-right {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 40px;
  width: 40px;
  height: 30px;
  fill: #dbdbdb;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

/* /////////drag\\\\\\\\\\\\\\ */

.banner__drag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
}

@media (max-width: 1009px) {
  .banner__drag {
    padding-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* /////////////// drag_up \\\\\\\\\\\\\*/

.banner__drag_up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 600px) {
  .banner__drag_up {
    padding-left: 100px;
  }
}

@media (max-width: 500px) {
  .banner__drag_up {
    padding-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* /////////////// drag_left \\\\\\\\\\\\\*/

.banner__drag_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*//////////////// banner mouse \\\\\\\\\\\\\\\\\\\*/

/* .banner__mouse {
   margin-top: 50px;
   margin-bottom: 20px;
}

.banner__mouse-svg {
    fill: #DBDBDB;
    width: 40px;
    height: 50px;
} */

/*////////////////////// banner-arrow \\\\\\\\\\\\\\\*/

.banner__arrow-up-container {
  height: 40px;
  position: relative;
  width: 140px;
  -webkit-transform-origin: 20px;
      -ms-transform-origin: 20px;
          transform-origin: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 10px;
}

@media (max-width: 1009px) {
  .banner__arrow-up-container {
    margin-top: 0;
    -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.banner__arrow-up {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  /* transform: rotate(-90deg); */
  margin: 0 auto 0 0;
  width: 50px;
  -webkit-animation: arrowAnimation 2s infinite;
          animation: arrowAnimation 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: #fff;
}

/* .banner__drag_left .banner__arrow-up {
    transform: none;
} */

@-webkit-keyframes arrowAnimation {
  form {
    left: 0;
  }
  to {
    left: 30%;
  }
}

@keyframes arrowAnimation {
  form {
    left: 0;
  }
  to {
    left: 30%;
  }
}

@-webkit-keyframes animationName {
  form {
    left: 0;
  }
  to {
    left: 30%;
  }
}

.banner__text-drag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 1009px) {
  .banner__text-drag-container {
    margin-top: 0;
    margin-left: 10px;
  }
}

.banner__text-drag {
  text-transform: uppercase;
  color: var(--grey);
  letter-spacing: 0.2rem;

  -webkit-transform-origin: 20px;

      -ms-transform-origin: 20px;

          transform-origin: 20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.2;
}

@media (max-width: 1009px) {
  .banner__text-drag {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin: auto 0;
  }
}

/* ////////////// banner first background \\\\\\\\\\\\\\ */

.banner__first-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* ////////////// banner second background \\\\\\\\\\\\\\ */

.banner__second-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 43%;
  height: 105%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.banner__second-background-share {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 20px;
  height: 30px;
  fill: var(--gold);
  opacity: 0.5;
}

.bunner__second-background-text {
  position: absolute;
  display: block;
  color: var(--gold);
  font-size: 1rem;
  letter-spacing: 0.5rem;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 500px;
  right: 150px;

  text-transform: uppercase;
}

@media (max-width: 1250px) {
  .bunner__second-background-text {
    right: 100px;
  }
}

@media (max-width: 1200px) {
  .bunner__second-background-text {
    right: 50px;
  }
}

@media (max-width: 880px) {
  .bunner__second-background-text {
    display: none;
  }
}

/* slider */

@media (min-width: 1010px) {
  .slider-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*/////////////////////// slider-container \\\\\\\\\\\\\\\\\\\*/

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

/*/////////////////// slider-pagination \\\\\\\\\\\\\\\\\\\\*/

.slider-pagination {
  position: absolute;
  left: 110px;
  top: 50%;
  -webkit-transform: translate3d(0, -20%, 0);
          transform: translate3d(0, -20%, 0);

  bottom: auto;
}

@media (max-width: 1500px) {
  .slider-pagination {
    left: 60px;
  }
}

@media (max-width: 1009px) {
  .slider-pagination {
    left: 50%;
    top: auto;
    bottom: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    width: 100%;
    text-align: center;
  }
}

.slider-pagination-bullet {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--gold);
  border-radius: 50%;
  margin: 50px 10px;
  -webkit-transition: 300ms -webkit-transform;
  transition: 300ms -webkit-transform;
  transition: 300ms transform;
  transition: 300ms transform, 300ms -webkit-transform;
  cursor: pointer;
  opacity: 0.2;
}

@media (max-width: 1009px) {
  .slider-pagination-bullet {
    margin: 10px 50px;
    display: inline-block;
  }
}

.active-bullet {
  opacity: 1;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* counter */

.count-number {
  position: absolute;
  right: auto;
  bottom: auto;
  left: 100px;
  top: 25%;
  -webkit-transform: translate3d(0, -50%, 0) rotate(90deg);
          transform: translate3d(0, -50%, 0) rotate(90deg);
  font-size: 5rem;
  max-width: 50px;
}

.count-number::after {
  content: '';
  position: absolute;
  right: -120px;
  width: 50px;
  height: 5px;
  background-color: var(--gold);
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 1500px) {
  .count-number {
    left: 50px;
  }
}

@media (max-width: 1009px) {
  .count-number {
    display: none;
  }
}

.main__furniture {
  padding: 15% 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 1100px) {
  .main__furniture {
    padding: 20% 0;
  }
}

/*/////////////////////  content \\\\\\\\\\\\\\\\\\ */

.furniture__content {
  margin: 0 auto;
}

@media (max-width: 720px) {
  .furniture__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/*/////////////////////  photo \\\\\\\\\\\\\\\\\\ */

.furniture__photo {
  margin-left: 30px;
}

@media (max-width: 1100px) {
  .furniture__photo {
    margin-top: 40px;
    margin-left: 0;
  }
}

/*/////////////////////  description \\\\\\\\\\\\\\\\\\ */

.furniture__description {
  padding-left: 15%;
}

@media (max-width: 1100px) {
  .furniture__description {
    padding-left: 0;
    margin-left: 150px;
  }
}

@media (max-width: 720px) {
  .furniture__description {
    padding-left: 0;
    margin-left: 0;
  }
}

/*/////////////////////  title \\\\\\\\\\\\\\\\\\ */

@media (max-width: 720px) {
  .furniture__title::before {
    display: none;
  }
}

/*/////////////////////  text \\\\\\\\\\\\\\\\\\ */

.furniture__text {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .furniture__text::before {
    display: none;
  }
}

/*///////////////////// learn more \\\\\\\\\\\\\\\\\\ */

.furniture__learn-more-container {
  margin-top: 20px;
}

.furniture__learn-more-arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.furniture__learn-more:hover .furniture__learn-more-arrow {
  left: 130px;
}

/*//////////////////////  number\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.furniture__number {
  position: absolute;
  left: 0;
  bottom: 0;
}

.furniture__number::after {
  position: absolute;
  left: 40%;
  bottom: -30px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(90deg) translateY(-50%);
      -ms-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
}

/* /////////////////////////////////////////////////////// decor\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* ///////////////////decor content\\\\\\\\\\\\\\\\\\\\\ */

.decor__content {
  margin: 150px auto 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  .decor__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 720px) {
  .decor__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/* ////////////////////decor description\\\\\\\\\\\\\\\\\ */

.decor__description {
  text-align: right;
  padding-right: 15%;
  padding-left: 0;
}

@media (max-width: 1100px) {
  .decor__description {
    padding-right: 0;
    margin-right: 150px;
  }
}

@media (max-width: 720px) {
  .decor__description {
    padding-right: 0;
    margin-right: 0;
  }
}

/* ////////////////////decor title\\\\\\\\\\\\\\\\\ */

.decor__title::before {
  left: auto;
  right: -180px;
}

@media (max-width: 720px) {
  .decor__title::before {
    display: none;
  }
}

/* //////////////////decor photo\\\\\\\\\\\\\\\\\ */

.decor__photo {
  margin-left: 0;
  margin-right: 30px;
}

@media (max-width: 1100px) {
  .decor__photo {
    margin-top: 40px;
    margin-right: 0;
  }
}

/* //////////////////decor text\\\\\\\\\\\\\\\\\ */

.decor__text {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .decor__text::before {
    display: none;
  }
}

.decor__text::before {
  position: absolute;
  left: auto;
  right: -80px;
}

/*///////////////// decor learn more \\\\\\\\\\\\\\\\*/

.decor__learn-more-container {
  margin-top: 20px;
}

.decor__learn-more {
  margin-right: 50px;
}

.decor__learn-more-arrow {
  position: absolute;
  right: -60px;
  left: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.decor__learn-more:hover .decor__learn-more-arrow {
  right: -90px;
}

/*/////////////////////// decor number\\\\\\\\\\\\\\\\\\\\ */

.decor__number {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
}

.decor__number::after {
  position: absolute;
  left: 40%;
  bottom: -30px;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(90deg) translateY(-50%);
      -ms-transform: rotate(90deg) translateY(-50%);
          transform: rotate(90deg) translateY(-50%);
}

.main__about-wooder {
  background-color: #fff;
  padding: 0 0 10%;
}

.about-wooder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*//////////// content \\\\\\\\\\\\\\*/

.about-wooder__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* ///////////////title\\\\\\\\\\\\\\ */

.about-wooder__title {
  position: relative;
}

.about-wooder__title::after {
  position: absolute;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  height: 5px;
  width: 50px;
  background-color: var(--gold);
}

.about-wooder__title::before {
  display: none;
}

/*///////////// text \\\\\\\\\\\\\\\\\*/

.about-wooder__text {
  margin-top: 40px;
  width: 70%;
  -ms-flex-item-align: center;
      align-self: center;
}

.about-wooder__text::before {
  display: none;
}

/*/ /////////////// videos\\\\\\\\\\\\\\\\ */

.about-wooder__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*///////////////// video \\\\\\\\\\\\\\\\\\\ */

.about-wooder__video {
  position: relative;
  margin: 40px;
}

/* @media (max-width: 1040px) {
    .about-wooder__video {
        margin: 30px;
        
    }
} 

/* @media (max-width: 960px) {
    .about-wooder__video {
        margin: 10px;
    }
}   

@media (max-width: 652px) {
    .about-wooder__video  {
        margin-bottom: 60px;
    }
} */

/*///////////////// photo \\\\\\\\\\\\\\\\\\\ */

.about-wooder__photo {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.about-wooder__photo:hover + .about-wooder__video-play-button {
  -webkit-transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3) rotate(0.01deg);
          transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3) rotate(0.01deg);
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

/*/ ////////// video description \\\\\\\\\\\\\\\\\\*/

.about-wooder__video-description {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #000;
  font-weight: 600;
  width: 100%;
}

.about-wooder__video-description::before {
  position: absolute;
  content: '';
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
  height: 1px;
  width: 30px;
  background-color: var(--gold);
}

/* ////////////////// video play \\\\\\\\\\\\\\\\ */

.about-wooder__video-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  height: 27%;
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background-color: rgba(190, 166, 124, 0.8);
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  border: none;
}

.about-wooder__video-play-button:hover {
  -webkit-transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3) rotate(0.01deg);
          transform: translate(-50%, -50%) scale3d(1.3, 1.3, 1.3) rotate(0.01deg);
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.about-wooder__video-play {
  margin: auto auto auto 24px;
  width: 40%;
  height: 40%;
  fill: #fff;
  pointer-events: none;
}

/* player */

.about-wooder__video-player {
  width: 70%;
  height: 50%;
}

.video__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.712);
  /* display: flex; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.video__wrapper video {
  width: 70%;
  height: 50%;
}

.main__wooder-video {
  position: relative;
  padding: 5% 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

/* /////////////// content icon \\\\\\\\\\\\\\\ */

.wooder-video__play-icon {
  position: absolute;
  right: -200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--grey);
  opacity: 0.1;
  height: 95%;
  width: 70%;
}

@media (max-width: 900px) {
  .wooder-video__play-icon {
    display: none;
  }
}

/* /////////////// content \\\\\\\\\\\\\ */

.wooder-video__content {
  padding: 10% 20%;
  border: 1px solid var(--gold);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 530px) {
  .wooder-video__content {
    padding: 10% 10%;
  }
}

/* ////////// descrption \\\\\\\\\\\\\\\\\\ */

.wooder-video__description {
  margin: auto auto auto 40px;
  width: 50%;
}

@media (max-width: 1300px) {
  .wooder-video__description {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .wooder-video__description {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .wooder-video__description {
    width: 100%;
    margin-left: 0;
  }
}

/* ////////// title \\\\\\\\\\\\\\\\\\ */

.wooder-video__title {
  color: var(--gold);
}

@media (max-width: 910px) {
  .wooder-video__title::before {
    display: none;
  }
}

/* //////////////// text \\\\\\\\\\\\\\\\\\ */

.wooder-video__text {
  margin-top: 20px;
}

@media (max-width: 910px) {
  .wooder-video__text::before {
    display: none;
  }
}

/* //////////////// button \\\\\\\\\\\\\\\\\\ */

.wooder-video__button {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (max-width: 645px) {
  .wooder-video__button {
    width: 100%;
  }
}

/* ////////////// play icon  \\\\\\\\\\\\\\\\\\*/

.wooder-video__button-play-icon {
  fill: #fff;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  pointer-events: none;
}

.main__about-us {
  padding: 10% 0;
  position: relative;
  z-index: 1;
}

/* /////////////// content \\\\\\\\\\\\ */

.about-us__content {
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  .about-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 720px) {
  .about-us__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/* //////////////////// title \\\\\\\\\\\\\\\\\ */

.about-us__title::before {
  z-index: 2;
}

@media (max-width: 720px) {
  .about-us__title::before {
    display: none;
  }
}

/*///////////////////// photo \\\\\\\\\\\\\\\\\\ */

.about-us__photo {
  margin-left: 0;
  margin-right: 100px;
}

@media (max-width: 1100px) {
  .about-us__photo {
    margin-top: 40px;
    margin-right: 0;
  }
}

/* /////////////// description \\\\\\\\\\\\\\ */

.about-us__description {
  padding-left: 0;
}

@media (max-width: 1100px) {
  .about-us__description {
    padding-right: 0;
  }
}

@media (max-width: 720px) {
  .about-us__description {
    padding-right: 0;
    margin-right: 0;
  }
}

/* ////////////////// text \\\\\\\\\\\\\\\\\ */

.about-us__text {
  margin-top: 20px;
}

.about-us__text::before {
  z-index: 2;
}

@media (max-width: 720px) {
  .about-us__text::before {
    display: none;
  }
}

/* ////////////////// learn more \\\\\\\\\\\\\\\\\ */

.about-us__learn-more-container {
  margin-top: 10px;
}

.about-us__learn-more-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100px;
}

.about-us__learn-more:hover .about-us__learn-more-arrow {
  left: 130px;
}

.footer {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* content */

.footer__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

/* logo container */

.footer__logo-container {
    margin: auto;
}

@media (max-width: 1000px) {
    .footer__logo-container {
        margin-right: 20px;
    }
}

/* logo */

.footer__logo {
    opacity: .3;
}

/* coopyright */

.footer__copyright {
    position: absolute;
    color: var(--grey);
    top: 50%;
    left: 20%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    opacity: .3;
}

@media (max-width: 1000px) {
    .footer__copyright {
        left: 20px;
    }
}

@media (max-width: 400px) {
    .footer__copyright {
        font-size: .6rem;
    }
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.learn-more__text {
  font-size: 50px;
  color: var(--grey);
  letter-spacing: 0.4rem;
}
