/* Global */

@import 'blocks/logo.css';
@import 'blocks/button.css';
@import 'blocks/icons.css';
@import 'variables.css';
@import 'blocks/body.css';
@import 'blocks/section.css';
@import 'blocks/banner.css';
@import 'blocks/card.css';
@import 'blocks/more-cards.css';
@import 'blocks/popular-places.css';
@import 'blocks/places-card.css';
@import 'blocks/places-card-buttons.css';
@import 'blocks/search.css';
@import 'blocks/form.css';
@import 'blocks/submit.css';
@import 'blocks/header.css';
@import 'blocks/ham.css';
@import 'blocks/small-menu.css';
@import 'blocks/small-form.css';
@import 'blocks/footer.css';

@font-face {
  font-family: 'Molle';
  src: url('../fonts/Molle-Italic.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.ttf');
  font-display: swap;
}
