.certificates
  &__button
    display: inline-block
    width: 10px
    height: 10px
  &__title
    margin-top: 20px
    margin-bottom: 20px
    color: #ccc
    font-size: 30px
    text-align: left
  &__card
    height: 150px
    background-color: #ccc