.main__banner {
    height: 100%;
    /* width: 50%; */
    margin: 0 auto;
}


.banner__content {
    padding-top: 25rem;
    display: flex;
    flex-direction: column;

}

/* //////////// title \\\\\\\\\\\\\\\ */

.banner__title-container {
    display: flex;
    justify-content: center;
}

.banner__title {
    font-size: 6rem;
    font-weight: 600;
    color: var(--gold);
    letter-spacing: 1.5rem;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .banner__title {
        font-size: 4rem;
        letter-spacing: 1rem;
    }
}

@media (max-width: 600px) {
    .banner__title {
        font-size: 4rem;
        letter-spacing: .5rem;
        margin-left: 10px;
    }
}

/* ///////// button \\\\\\\\\\\\ */
.banner__button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.banner__button {
    position: relative;
    padding: 20px 0;
    width: 300px;
    background-color: transparent;
    color: #DBDBDB;
    border: 4px solid #DBDBDB;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-right: 250px;
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .banner__button {
        margin-right: 50px;
    }
}

@media (max-width: 415px) {
    .banner__button {
        margin: 0 auto;
    }
}
/* ///////////////arrow\\\\\\\\\\\\\ */

.banner__button-arrow {
    height: 2.5px;
    width: 30px;
    background-color: #DBDBDB;
    position: absolute;
    top: 47%;
    right: 40px;
    transition: .4s all ;
}
.banner__button:hover .banner__button-arrow {
    right: 30px;
}

.banner__button-arrow::before,
.banner__button-arrow:after {
    content: '';
    position: absolute;
    height: 2.5px;
    width: 10px;
    right: -1px;
    background-color: #DBDBDB;
    transform-origin: right;
}

.banner__button-arrow::before {
    
    top: 0px;
    transform: rotate(-45deg);
}
.banner__button-arrow:after {
    bottom: 0px;
    transform: rotate(45deg);
}


