.main__furniture {
  padding: 15% 0;
  position: relative;
  z-index: 1;
}

@media (max-width: 1100px) {
  .main__furniture {
    padding: 20% 0;
  }
}
/*/////////////////////  content \\\\\\\\\\\\\\\\\\ */

.furniture__content {
  margin: 0 auto;
}

@media (max-width: 720px) {
  .furniture__content {
    align-items: flex-start;
  }
}

/*/////////////////////  photo \\\\\\\\\\\\\\\\\\ */

.furniture__photo {
  margin-left: 30px;
}

@media (max-width: 1100px) {
  .furniture__photo {
    margin-top: 40px;
    margin-left: 0;
  }
}

/*/////////////////////  description \\\\\\\\\\\\\\\\\\ */

.furniture__description {
  padding-left: 15%;
}

@media (max-width: 1100px) {
  .furniture__description {
    padding-left: 0;
    margin-left: 150px;
  }
}

@media (max-width: 720px) {
  .furniture__description {
    padding-left: 0;
    margin-left: 0;
  }
}

/*/////////////////////  title \\\\\\\\\\\\\\\\\\ */

@media (max-width: 720px) {
  .furniture__title::before {
    display: none;
  }
}

/*/////////////////////  text \\\\\\\\\\\\\\\\\\ */

.furniture__text {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .furniture__text::before {
    display: none;
  }
}

/*///////////////////// learn more \\\\\\\\\\\\\\\\\\ */

.furniture__learn-more-container {
  margin-top: 20px;
}

.furniture__learn-more-arrow {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.furniture__learn-more:hover .furniture__learn-more-arrow {
  left: 130px;
}

/*//////////////////////  number\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.furniture__number {
  position: absolute;
  left: 0;
  bottom: 0;
}

.furniture__number::after {
  position: absolute;
  left: 40%;
  bottom: -30px;
  transform-origin: left;
  transform: rotate(90deg) translateY(-50%);
}

/* /////////////////////////////////////////////////////// decor\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* ///////////////////decor content\\\\\\\\\\\\\\\\\\\\\ */

.decor__content {
  margin: 150px auto 0;
  flex-direction: row-reverse;
}

@media (max-width: 1100px) {
  .decor__content {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .decor__content {
    align-items: flex-end;
  }
}

/* ////////////////////decor description\\\\\\\\\\\\\\\\\ */

.decor__description {
  text-align: right;
  padding-right: 15%;
  padding-left: 0;
}

@media (max-width: 1100px) {
  .decor__description {
    padding-right: 0;
    margin-right: 150px;
  }
}

@media (max-width: 720px) {
  .decor__description {
    padding-right: 0;
    margin-right: 0;
  }
}

/* ////////////////////decor title\\\\\\\\\\\\\\\\\ */

.decor__title::before {
  left: auto;
  right: -180px;
}

@media (max-width: 720px) {
  .decor__title::before {
    display: none;
  }
}

/* //////////////////decor photo\\\\\\\\\\\\\\\\\ */

.decor__photo {
  margin-left: 0;
  margin-right: 30px;
}

@media (max-width: 1100px) {
  .decor__photo {
    margin-top: 40px;
    margin-right: 0;
  }
}

/* //////////////////decor text\\\\\\\\\\\\\\\\\ */

.decor__text {
  margin-top: 20px;
}

@media (max-width: 720px) {
  .decor__text::before {
    display: none;
  }
}

.decor__text::before {
  position: absolute;
  left: auto;
  right: -80px;
}

/*///////////////// decor learn more \\\\\\\\\\\\\\\\*/

.decor__learn-more-container {
  margin-top: 20px;
}

.decor__learn-more {
  margin-right: 50px;
}

.decor__learn-more-arrow {
  position: absolute;
  right: -60px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

.decor__learn-more:hover .decor__learn-more-arrow {
  right: -90px;
}

/*/////////////////////// decor number\\\\\\\\\\\\\\\\\\\\ */

.decor__number {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
}

.decor__number::after {
  position: absolute;
  left: 40%;
  bottom: -30px;
  transform-origin: left;
  transform: rotate(90deg) translateY(-50%);
}
