
.logo {
    position: relative;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.logo::after {
    content: '';
    height: 3px;
    width: 54.7px;
    position: absolute;
    top: 17.5px;
    left: 37.8px;
    background-color: var(--gold);
    border-radius: 1px;
}