.wooder-text {
    font-family: 'ProximaNova', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey);
    position: relative;
}

.wooder-text::before {
    content: '';
    position: absolute;
    left: -80px;
    top: 5px;
    height: 5px;
    width: 50px;
    background-color: var(--gold);
}

