.wooder-title {
    position: relative;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.wooder-title::before {
    content: "";
    position: absolute;
    left: -180px;
    top: 50%;
    height: 2px;
    width: 150px;
    background-color: var(--grey);
    transform: translateY(-50%);
}